##
## POJO template.
##

## Iterate over data model and generate Java Objects


## Injected context parameters by caller

## engine -> GenerationEngine
## context -> GenerationContext
## model -> DataModel
## nameTool -> GenerationTools


Generating model: $model

#set( $dataObjects = $model.dataObjects )

#foreach( $object in $dataObjects )
    ## Set current data object
    $context.setCurrentDataObject($object)

    #set( $filePath = $context.getFilePath($object,"java") )

    Generating file: $filePath
    Class: $object.className
    Package: $object.packageName

    $engine.generateAsset($context, "java_class", $filePath)
#end